<ul class="gdpr-links">
  <li>
    <a href="#" class="js-cookie-settings" onclick="return false;">
      {{ 'general.cookie.settings' | t }}
    </a>
  </li>
  <li>
    <a href="{{ routes.policies_path }}/privacy-policy">
      {{ 'general.policy.privacy' | t }}
    </a>
  </li>
  <li>
    <a href="{{ routes.policies_path }}/cookie-policy">
      {{ 'general.policy.cookie' | t }}
    </a>
  </li>
</ul>